body {
  margin: 0 auto;
  min-width: 375px;
  font-family: 'Poppins', sans-serif;
}

#body {
  background-color: white;
}

@font-face {font-family: "SoleilW01-Regular";
  src: url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.eot");
  src: url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/4ff6a11cffa6e8559bd96d4fc1cfa275.svg#SoleilW01-Regular") format("svg");}

/**********/
/* HEADER */
/**********/

#header {
  background: #FFFFFF;
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70px 61px;
}

#maca-logo{
  cursor: pointer;
  margin-left: 20px;
}

#cart {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

#cart-icon {
  margin-right: 7px;
}

#cart-text {
  margin: 0;
  width: 28px;
  height: 21px;
  font-weight: 600;
  font-size: 10px;
  color: #595959;
  letter-spacing: 0.08px;
  line-height: 27px;
}

/***********/
/* NAV BAR */
/***********/

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  border-top: 1px solid #F3F0EB;
}

.nav-item {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  color: #595959;
  letter-spacing: 0;
  text-align: center;
  padding: 21px 0 18px 0;
  border-bottom: 3px solid #F5F5F5;
  cursor: pointer;
}

.nav-item-active {
  border-bottom: 3px solid #5DAD93;
}

#current-page{
  margin: 0;
}

/***********/
/* PRODUCT */
/***********/

.item-wrapper{
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px 0 #E5E5E5;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 100px;;
  grid-template-rows: auto auto 1fr 50px;
}

.item-photo{
  height: 142px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  grid-row: 1 / 2; 
  grid-column: 1 / 3;
}

.item-name{
  font-weight: 500;
  font-size: 18px;
  color: #5DAD93;
  letter-spacing: 0;
  margin-left: 15.7px;
  grid-row: 2 / 3;
}

.item-price{
  font-weight: 600;
  font-size: 16px;
  color: #5DAD93;
  letter-spacing: 0;
  text-align: right;
  margin-left: auto;
  margin-right: 15.7px;
  grid-row: 2 / 3;
}

.item-price, .item-name{
  margin-bottom: 3px;
}

.item-type {
  font-weight: 500;
  font-size: 14px;
  color: #595959;
  letter-spacing: 0.44px;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 15.7px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.item-text {
  font-size: 12px;
  color: #595959;
  letter-spacing: 0.38px;
  margin: 0 15.7px 20px 15.7px;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.add-cart-button {
  font-family: "SoleilW01-Regular";
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 22.5px;
  background: #5DAD93;
  border-radius: 4px;
  height: 50px;
  cursor: pointer;
  margin: 20px 15.7px 15px 15.7px;
  grid-row: 5 / 6;
  grid-column: 1 / 3;
  border: none;
}

/**********/
/* FOOTER */
/**********/

footer {
  background: #FAF9F7;
  box-shadow: 0 -1px 0 0 #F5F5F5;
  margin-top: 40px;
}

#footer-wrapper {
  margin: 20px;
}

#footer-text{
  font-weight: 500;
  padding-top: 24px;
  margin-bottom: 31px;
  font-size: 14px;
  color: #595959;
  letter-spacing: 0;
  margin-left: 20px;
  margin-right: 20px;
}

#social-media-links {
  margin-bottom: 29px;
  margin-left: 20px;
  height: 30px;
}

#social-media-links img {
  margin-right: 15px;
  cursor: pointer;
}

.subfooter-wrapper {
  margin-bottom: 15px;
  border-top: 1px solid #F5F5F5;
}

.subfooter-header{
  font-family: "SoleilW01-Regular";
  -webkit-text-stroke-width: .60px;
  font-size: 15px;
  color: #595959;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2px;
  margin: 13px 20px 2px 20px;
}

.subfooter-links {
  font-family: "SoleilW01-Regular";
  font-size: 13px;
  color: #595959;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

#copyright-logo {
  font-weight: 600;
  font-size: 12px;
  color: #919EAB;
  letter-spacing: 0;
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.subfooter-wrapper:last-child {
  margin-bottom: 0;
}

/***********************/
/***********************/
/* MEDIAQUERY - TABLET */
/***********************/
/***********************/
  
@media only screen and (min-width: 480px){
  #header {
    grid-template-columns: 1fr 200px auto;
    grid-template-rows: 70px;
  }

  #nav-bar {
    grid-column : 2/ 3;
    grid-row: 1 / 2;
    border-top: none;
  }

  .nav-item, #header {
    border-bottom: none;
  }

  .nav-item{
    font-size: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #595959;
    letter-spacing: -0.25px;
    line-height: 19px;
  }

  #cart{
    grid-column: 3/ 4;
    margin-left: 0;
  }

  #cart:before {
    content: "|";
    color: #595959;
    margin-right: 19.3px;
    width: 3px;
    cursor: default;
  }

  #current-page {
    border-top: 1px solid #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #current-page:after{
    content: "Menu";
    font-weight: 600;
    font-size: 24px;
    color: #595959;
    letter-spacing: 0;
    width: 69px;
    height: 33px;
    margin-left: 20px;
  }

  #main{
    display:grid;
    grid-template-columns: 50% 50%;
  }

  .add-cart-button {
    margin-top: 37px;
  }

  footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 25% 25%;
    height: 205px;
  }

  #footer-text p{
    display: none;
  }

  #footer-text:after{
    content: 'We are committed to serving the freshest, most delightful treats.'
  }

  .subfooter-wrapper{
    border-top: none;
  }

  .subfooter-header{
    color: #5DAD93;
  }

  #social-media-links{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #copyright-div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #copyright-logo {
    padding: 0;
  }

  #company-div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 2;
  }

  #online-order-div{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 2;
  }
}

/*****************************/
/*****************************/
/* MEDIAQUERY - IPAD/DESKTOP */
/*****************************/
/*****************************/

@media only screen and (min-width: 991px) {
  body {
    max-width : 1024px;
  }

  #current-page:after, 
  #maca-logo,
  #footer-text, 
  #social-media-links,
  #copyright-div {
    margin-left: 40px;
  }

  #cart {
    margin-right: 40px;
  }

  #copyright-logo {
    margin-left: 0;
  }

  #main {
    grid-template-columns: 100%;
  }

  .item-wrapper{
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    grid-template-rows: 30px 30px 1fr;
    grid-column-gap: 20px;
    height: 180px;
    margin: 1px 40px;
    box-shadow: none;
    border-bottom: 1px solid #F3F0EB;
  }

  .item-wrapper:last-child {
    border-bottom: none;
  }

  .item-photo {
    border-radius: 4px;
    grid-column: 1 / 2;
    grid-row: 1/5;
    height: 160px;
    margin: 10px 0;
  }

  .item-name {
    margin-top: 12px;
    grid-column: 2/ 3;
    grid-row: 1 /2;
  }

  .item-type {
    margin-top: 5px;
    margin-bottom: 5px;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    height: 30px;
  }

  .item-text {
    font-size: 14px;
    letter-spacing: 0;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .item-price {
    font-weight: 600;
    font-size: 20px;
    color: #595959;
    letter-spacing: 0;
    text-align: center;
    margin: 0 auto;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    z-index: 1;
    margin: 44px 17px auto 28px;
  }

  .bulk:after {
    content: "/ea";
  }

  .cart-price-wrapper {
    content: '';
    background: #FAF9F7;
    border-radius: 4px;
    border-radius: 4px;
    height: 160px;
    width: 220px;
    grid-column: 3 / 4; 
    grid-row: 1 / 4;
    margin-top: 11px;
    margin-bottom: 9px;
  }

  .add-cart-button {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin: auto 17px 44px 28px;
  }

  #footer-text:after{
    font-size: 16px;
    color: #595959;
    letter-spacing: 0;
    margin-bottom: 18px;
  }

  .subfooter-header{
    font-size: 12px;
    color: #3B8873;
    line-height: 39px;
  }
}